[submodule "satis-repository/satis"]
	path = satis-repository/satis
	url = https://github.com/thusithawijethunga/satis.git
	branch = main
[submodule "satis-repository/php-plugin"]
	path = satis-repository/php-plugin
	url = https://github.com/thusithawijethunga/php-plugin.git
	branch = main
[submodule "satis-repository/composer-plugin"]
	path = satis-repository/composer-plugin
	url = https://github.com/thusithawijethunga/composer-plugin.git
	branch = main
[submodule "custom-installers/composer-custom-installer"]
	path = custom-installers/composer-custom-installer
	url = https://github.com/thusithawijethunga/composer-custom-installer.git
	branch = main
